$color-primary: #568dc1;
$color-primary-dark: #4f7aa3;
$color-primary-light: #afdce2;
$color-secondary: #f55d3e;
$color-secondary-dark: #cf4e34;
$color-black: #1d1e18;
$color-gray: #dcdee6;
$color-gray-opacity: #0a0a0a05;
$color-white: #fbfcfc;
$padding-body: 1.5rem;
$link-margins: 0.5rem;
$button-padding: 0.5rem;

$default-font-size: 1.2rem;
$default-font-family: 'Work Sans', sans-serif;
