$color-primary: #568dc1;
$color-primary-light: #afdce2;
$color-secondary: #f55d3e;
$color-black: #1d1e18;
$color-gray: #dcdee6;
$color-gray-opacity: #dcdee6a5;
$color-white: #fbfcfc;
$padding-body: 2.5rem;
$link-margins: 0.5rem;
$button-padding: 0.5rem;

$default-font-size: 1rem;
