.btn-link {
  background: $color-primary;
  padding: $button-padding;
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

.btn-style {
  background: $color-primary;
  padding: $button-padding;
  border: none;
  color: var(--color-primary);
}

.backdrop {
  background-color: $color-white;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.toggle-button {
  @media screen and (min-width: $bp-small) {
    display: none;
  }
  @media screen and (max-width: $bp-small) {
    display: flex;
  }
}

// link-button

.link-btn {
  background: $color-primary;
  border-radius: 2.5rem;
  color: $color-white;
  padding: 0.5rem 1.5rem;
  transition: all 0.1s ease;
  font-weight: 400;

  &:hover {
    background: $color-primary-dark;
  }
}

img {
  width: 400px;
}

.section {
  padding: $padding-body;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;

  &__text-left {
    text-align: left;
  }
  &__text-centered {
    text-align: center;
  }
}

.horizontal-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.primary-section {
  background: $color-white;
  color: $color-primary;
}
.secondary-section {
  background: $color-primary;
  color: $color-white;
}
