.btn-style {
  background: $color-primary;
  padding: $button-padding;
  border: none;
  color: var(--color-primary);
}

.backdrop {
  background-color: $color-white;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.toggle-button {
  @media screen and (min-width: $bp-small) {
    display: none;
  }
  @media screen and (max-width: $bp-small) {
    display: flex;
  }
}

// BUTTONS

// link-button

.link-btn {
  background: $color-primary;
  border-radius: 2.5rem;
  color: $color-white;
  padding: 0.5rem 1.5rem;
  transition: all 0.1s ease;
  font-weight: 400;

  &:hover {
    background: $color-primary-dark;
  }
}

// primary button
.btn-primary {
  border: transparent;
  background: $color-primary;
  border-radius: 2.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  color: $color-white;
  font-family: $default-font-family;
  &:hover {
    background: $color-primary-dark;
  }
}

// secondary button
.btn-secondary {
  border: transparent;
  background: $color-white;
  border-radius: 2.5rem;
  text-decoration: none;
  padding: 1rem 2rem;
  cursor: pointer;
  color: $color-primary;
  font-family: $default-font-family;
  &:hover {
    background: $color-primary-dark;
  }
}
// tertiary button
.btn-tertiary {
  border: transparent;
  background: $color-secondary;
  border-radius: 2.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
  color: $color-white;
  font-family: $default-font-family;
  &:hover {
    background: $color-primary-dark;
  }
}

.section-textleft__image {
  width: 400px;
  padding: $padding-body;
}

.section {
  padding: $padding-body;
  display: flex;
  width: 80%;

  &__centered {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  &__not-centered {
    flex-direction: row;
    // justify-content: space-between;
    &--services {
      justify-content: space-around;
    }
  }
}

.horizontal-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.primary-section {
  background: $color-white;
  color: $color-primary;
}
.secondary-section {
  background: $color-primary;
  color: $color-white;
}
