@import '../../sass/abstracts/variables';

.homepage-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95rem;

  &__square {
    background: $color-white;
    box-shadow: 0px 4px 8px 4px $color-gray-opacity;
    padding: $padding-body;
    box-sizing: border-box;
    width: 250px;
  }
}
